<div
  style="
    width: 100%;
    display: grid;
    grid: auto-flow dense / repeat(4, 1fr);
    gap: 0.75em;
  "
>
  <div
    style="
      border: 1px solid #afafaf;
      min-height: 10em;
      border-radius: 0.75em;
      max-width: 10em;
    "
  ></div>
  <div
    style="
      border: 1px solid #afafaf;
      min-height: 10em;
      border-radius: 0.75em;
      max-width: 10em;
    "
  ></div>
  <div
    style="
      border: 1px solid #afafaf;
      min-height: 10em;
      border-radius: 0.75em;
      max-width: 3em;
    "
  ></div>
  <div
    style="
      border: 1px solid #afafaf;
      min-height: 10em;
      border-radius: 0.75em;
      max-width: 10em;
    "
  ></div>

  <div
    style="border: 1px solid #afafaf; min-height: 10em; border-radius: 0.75em"
  ></div>
  <div
    style="border: 1px solid #afafaf; min-height: 10em; border-radius: 0.75em"
  ></div>
  <div
    style="
      border: 1px solid #afafaf;
      min-height: 10em;
      border-radius: 0.75em;
      max-width: 3em;
    "
  ></div>
  <div
    style="border: 1px solid #afafaf; min-height: 10em; border-radius: 0.75em"
  ></div>
</div>
